[user]
	email = Sunidhinaik_kpmg@godevsuite072.com
	name = sunidhinaikkpmg-hue
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
